# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore WhatsApp credential key storage
credentials.json

# Ignore WhatsJava fat jar
/build/libs/WhatsJava-all.jar
